@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.jumbotron-fluid {
  background-color: rgb(63, 47, 87);
  color: rgb(242, 230, 230);
  padding: 50px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p {
  font-family: inherit;
  font-size: 16px;
  font-weight: 100;
}
h1 ~ p {
  margin-bottom: 0;
}
li {
  font-family: inherit;
  font-weight: 100;
}
a {
  color: rgb(192, 202, 238);
}
a:hover {
  text-decoration: none;
}
table, th, td {
  border: 1px solid hsl(264, 30%, 35%);
}
.title {
  font-weight: 700;
}
.profile-img {
  display: block;
  max-width: 100%;
  border-radius: 10%;
}
.tribute-summary {
  border-bottom: 2px solid hsl(264, 30%, 35%);
  padding-bottom: 50px;
}
.timeline {
  padding-top: 50px;
}
.achievements {
  padding-top: 50px;
}
.link {
  margin-top: 50px;  
}

@media (max-width: 767px) {
  .summary h1, .summary h2, .summary p {
    text-align: center;
  }
  .timeline {
    border-bottom: 2px solid hsl(264, 30%, 35%);
  }
}